<div class="container-fluid" cdkDropListGroup>
    
    <div class="row">
        <div class="col-3">
            <button mat-flat-button color="primary" class="m-3" (click) = add_new_task()>Create New Task</button>
        </div>

        <div class="col-6">
            <h2 class="text-center">My Personal Task</h2>
        </div>
    </div>

    <div class="row">
            <span class="alert alert-success text-center m-3" *ngIf="task_create_msg" style="margin-right: 20px;">Task created successfully.</span>
    </div>

    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="example-container">
                <h2 style="text-align: center;"> New  </h2>
                
                <!-- <button mat-stroked-button style="width: 100%; background-color: rgb(205, 205, 247);" ><mat-icon >add</mat-icon></button> -->
                <div class="example-list"
                    cdkDropList
                    #newList="cdkDropList"
                    [cdkDropListData]="new_tasks"
                    [cdkDropListConnectedTo]="[backlogList, readyList, inProgressList, inReviewList, doneList]"
                    (cdkDropListDropped)="drop($event)">
                    
                    <div class="example-box" *ngFor="let task of new_tasks; index as i" [ngStyle]="{'background': 'white'}"  cdkDrag>
                       

                         {{task.title}}  
                        <!-- <span>{{task.assigned_to[1].employee.name}}</span> -->

                        
                        
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" > 
                            <mat-icon>more_vert</mat-icon> 
                        </button>
                        
                        
        
                        <mat-menu #menu="matMenu" xPosition="before">
                            <button mat-menu-item (click) = edit_task(task._id,i)>
                                <!-- <mat-icon style="color: blue;">edit</mat-icon> -->
                                <span>Edit</span>
                               
                            </button>
        
                            <button mat-menu-item (click) = delete_task(task._id,i)>
                                <!-- <mat-icon style="color: red;">delete</mat-icon> -->
                                <span>Delete</span>
                                
                            </button>
        
                            <button mat-menu-item (click) = show_details_task(task._id,i)>
                                <!-- <mat-icon style="color: rgb(9, 119, 120);">details</mat-icon> -->
                                <span>Details</span>
                                
                            </button>
        
                            <button mat-menu-item (click) = add_task_member(task._id,i)>
                                <!-- <mat-icon style="color: rgb(205, 121, 24);">add</mat-icon> -->
                                <span>Add Member</span>
                                
                            </button>
                        </mat-menu>

                        

                        
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="example-container">
                <h2 style="text-align: center;">  Backlog  </h2>
                
                <!-- <button mat-stroked-button style="width: 100%; background-color: rgb(205, 205, 247);" (click) = add_backlog_task(states[1]._id)><mat-icon>add</mat-icon></button> -->
                <div class="example-list"
                    cdkDropList
                    #backlogList="cdkDropList"
                    [cdkDropListData]="backlog_tasks"
                    [cdkDropListConnectedTo]="[newList, readyList, inProgressList, inReviewList, doneList]"
                    (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let task of backlog_tasks; index as i" [ngStyle]="{'background': 'white'}" cdkDrag>
                        

                        <span> {{task.title}} </span>

                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" > 
                            <mat-icon>more_vert</mat-icon> 
                        </button>
            
                        <mat-menu #menu="matMenu" xPosition="before">
                            <button mat-menu-item (click) = edit_task(task._id,i)>
                                <!-- <mat-icon style="color: blue;">edit</mat-icon> -->
                                <span>Edit</span>
                               
                            </button>
        
                            <button mat-menu-item (click) = delete_task(task._id,i)>
                                <!-- <mat-icon style="color: red;">delete</mat-icon> -->
                                <span>Delete</span>
                                
                            </button>
        
                            <button mat-menu-item (click) = show_details_task(task._id,i)>
                                <!-- <mat-icon style="color: rgb(9, 119, 120);">details</mat-icon> -->
                                <span>Details</span>
                                
                            </button>
        
                            <button mat-menu-item (click) = add_task_member(task._id,i)>
                                <!-- <mat-icon style="color: rgb(205, 121, 24);">add</mat-icon> -->
                                <span>Add Member</span>
                                
                            </button>
                        </mat-menu>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="example-container">
                <h2 style="text-align: center;"> Ready  </h2>
                
                <!-- <button mat-stroked-button style="width: 100%; background-color: rgb(205, 205, 247);" (click) = add_ready_task(states[2]._id)><mat-icon>add</mat-icon></button> -->
                <div
                    cdkDropList
                    #readyList="cdkDropList"
                    [cdkDropListData]="ready_tasks"
                    [cdkDropListConnectedTo]="[newList, backlogList, inProgressList, inReviewList, doneList]"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let task of ready_tasks; index as i" [ngStyle]="{'background': 'white'}" cdkDrag>
                        {{task.title}}
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" > 
                            <mat-icon>more_vert</mat-icon> 
                        </button>
            
                        <mat-menu #menu="matMenu" xPosition="before">
                            <button mat-menu-item (click) = edit_task(task._id,i)>
                                <!-- <mat-icon style="color: blue;">edit</mat-icon> -->
                                <span>Edit</span>
                               
                            </button>
        
                            <button mat-menu-item (click) = delete_task(task._id,i)>
                                <!-- <mat-icon style="color: red;">delete</mat-icon> -->
                                <span>Delete</span>
                                
                            </button>
        
                            <button mat-menu-item (click) = show_details_task(task._id,i)>
                                <!-- <mat-icon style="color: rgb(9, 119, 120);">details</mat-icon> -->
                                <span>Details</span>
                                
                            </button>
        
                            <button mat-menu-item (click) = add_task_member(task._id,i)>
                                <!-- <mat-icon style="color: rgb(205, 121, 24);">add</mat-icon> -->
                                <span>Add Member</span>
                                
                            </button>
                        </mat-menu>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="example-container">
                <h2 style="text-align: center;">  In Progress  </h2>
                
                <!-- <button mat-stroked-button style="width: 100%; background-color: rgb(205, 205, 247);" (click) = add_InProgress_task(states[3]._id)><mat-icon>add</mat-icon></button> -->
                <div
                    cdkDropList
                    #inProgressList="cdkDropList"
                    [cdkDropListData]="inProgress_tasks"
                    [cdkDropListConnectedTo]="[newList, backlogList, readyList, inReviewList, doneList]"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let task of inProgress_tasks; index as i" [ngStyle]="{'background': 'white'}" cdkDrag>
                        {{task.title}}
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" > 
                            <mat-icon>more_vert</mat-icon> 
                        </button>
            
                        <mat-menu #menu="matMenu" xPosition="before">
                            <button mat-menu-item (click) = edit_task(task._id,i)>
                                <!-- <mat-icon style="color: blue;">edit</mat-icon> -->
                                <span>Edit</span>
                               
                            </button>
        
                            <button mat-menu-item (click) = delete_task(task._id,i)>
                                <!-- <mat-icon style="color: red;">delete</mat-icon> -->
                                <span>Delete</span>
                                
                            </button>
        
                            <button mat-menu-item (click) = show_details_task(task._id,i)>
                                <!-- <mat-icon style="color: rgb(9, 119, 120);">details</mat-icon> -->
                                <span>Details</span>
                                
                            </button>
        
                            <button mat-menu-item (click) = add_task_member(task._id,i)>
                                <!-- <mat-icon style="color: rgb(205, 121, 24);">add</mat-icon> -->
                                <span>Add Member</span>
                                
                            </button>
                        </mat-menu>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="example-container">
                <h2 style="text-align: center;">  In Review  </h2>
                <!-- <button mat-stroked-button style="width: 100%; background-color: rgb(205, 205, 247);" (click) = add_InReview_task(states[4]._id)><mat-icon>add</mat-icon></button> -->
                <div
                    cdkDropList
                    #inReviewList="cdkDropList"
                    [cdkDropListData]="inReview_tasks"
                    [cdkDropListConnectedTo]="[newList, backlogList, readyList, inProgressList, doneList]"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let task of inReview_tasks; index as i" [ngStyle]="{'background': 'white'}" cdkDrag>
                        {{task.title}}
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" > 
                            <mat-icon>more_vert</mat-icon> 
                        </button>
            
                        <mat-menu #menu="matMenu" xPosition="before">
                            <button mat-menu-item (click) = edit_task(task._id,i)>
                                <!-- <mat-icon style="color: blue;">edit</mat-icon> -->
                                <span>Edit</span>
                               
                            </button>
        
                            <button mat-menu-item (click) = delete_task(task._id,i)>
                                <!-- <mat-icon style="color: red;">delete</mat-icon> -->
                                <span>Delete</span>
                                
                            </button>
        
                            <button mat-menu-item (click) = show_details_task(task._id,i)>
                                <!-- <mat-icon style="color: rgb(9, 119, 120);">details</mat-icon> -->
                                <span>Details</span>
                                
                            </button>
        
                            <button mat-menu-item (click) = add_task_member(task._id,i)>
                                <!-- <mat-icon style="color: rgb(205, 121, 24);">add</mat-icon> -->
                                <span>Add Member</span>
                                
                            </button>
                        </mat-menu>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="example-container">
                <h2 style="text-align: center;"> Done</h2>
                
                <!-- <button mat-stroked-button style="width: 100%; background-color: rgb(205, 205, 247);" (click) = add_done_task(states[5]._id)><mat-icon>add</mat-icon></button> -->
                <div
                    cdkDropList
                    #doneList="cdkDropList"
                    [cdkDropListData]="done_tasks"
                    [cdkDropListConnectedTo]="[newList, backlogList, readyList, inProgressList, inReviewList]"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let task of done_tasks; index as i" [ngStyle]="{'background': 'white'}" cdkDrag>
                        {{task.title}}
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" > 
                            <mat-icon>more_vert</mat-icon> 
                        </button>
            
                        <mat-menu #menu="matMenu" xPosition="before">
                            <button mat-menu-item (click) = edit_task(task._id,i)>
                                <!-- <mat-icon style="color: blue;">edit</mat-icon> -->
                                <span>Edit</span>
                               
                            </button>
        
                            <button mat-menu-item (click) = delete_task(task._id,i)>
                                <!-- <mat-icon style="color: red;">delete</mat-icon> -->
                                <span>Delete</span>
                                
                            </button>
        
                            <button mat-menu-item (click) = show_details_task(task._id,i)>
                                <!-- <mat-icon style="color: rgb(9, 119, 120);">details</mat-icon> -->
                                <span>Details</span>
                                
                            </button>
        
                            <button mat-menu-item (click) = add_task_member(task._id,i)>
                                <!-- <mat-icon style="color: rgb(205, 121, 24);">add</mat-icon> -->
                                <span>Add Member</span>
                                
                            </button>
                        </mat-menu>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

