.container-fluid{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right, #333399, #ff00cc);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm{
    margin: auto;
    width: 400px;
    /* height: 300px; */
    border: 3px solid rgb(191, 191, 241);
    background-color: rgb(176, 199, 241);
    padding: 10px;
}


.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}


.example-full-width {
    width: 100%;
}

.mat-dialog-actions{
    float:right;
}
  